@font-face {
    font-family: hacked;
    src: url(font/Hacked-KerX.ttf);
}

.heading {

font-size: 30px;
font-family: hacked;

}

  .home-button{

    background-color: #222;
    color: #ffffff;
    font-size: 25px;
    font-family: hacked;
    letter-spacing: 1px;
    margin: 20px;
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 1rem auto;
    display: block;


  }

  .home-button:hover {
      color: #222;
      background-color: #ffffff;
  }

  .text-center {
      text-align: center;
  }

  /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

    .heading {

        font-size: 10px;
        font-family: hacked;
        
        }


 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {     
    
    .heading {
        text-align: center;
    font-size: 20px;
    font-family: hacked;
    
    } 

}

