@font-face {
    font-family: hacked;
    src: url(font/Hacked-KerX.ttf);
}


/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #222;

    position: static;
    height: 100%;
    overflow: auto;
    font-family: hacked;
    font-size: 30px;
    letter-spacing: 1px;
    border: 1px solid #ffffff;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: #ffffff;
    padding: 16px;
    text-decoration: none;
    border: 0.5px solid #ffffff;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #ffffff;
    color: #222;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #ffffff;
    color: #222;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }